/* Grundregler i min css kode */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1ead1;
    font-family: sans-serif;
}

/* Styling af navbar */
/* Gør så navbaren kommer med ned på siden */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #c91e25;
    height: 7rem;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    padding-right: 5%;
    list-style-type: none;
    background-color: #c91e25;
}

/* Laver mellemrum mellem navpunkterne og sætter en effekt når man har sin mus på en af punkterne */
nav ul li {
    margin: 1.5%;
    margin-top: -2.5rem;
    cursor: pointer;
    background-color: #c91e25;
}

/* Fjerner streger under mine menupunkter, samt ændre farven på teksten */
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    background-color: #c91e25;
}

/* Når man hover over navpunkterne bliver de større */ 
nav ul li:hover {
    transform: scale(1.2);
}

/* Fjerner streg under mit logo */
nav a {
    text-decoration: none;
}

/* Sætter billedet relativt så jeg kan rykke det på linje med min navbar */
nav a img {
    position: relative;
    top: 20px;
    margin-left: 10%;
    background-color: #c91e25;
    height: 5rem;
}

a.logo {
    background-color: #c91e25;
}

/* Gør så hamburger menuen ikke er synlig */
.ham-menu {
    display: none;
}

/* Gør så mine punkter i hamburgermenuen ikke er synlige */
.menu {
    display: none;
}

/* Menukort styling begynder her */ 
/* Main */
figure {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10rem;
}

figure img {
    height: 15rem;
}

main {
    padding-bottom: 15rem;
}

main h3 {
    color: #ff2800;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;  
    margin-top: 5rem;  
    font-family: "Montserrat", sans-serif;
}

main ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    color: #ff2800;
    margin-top: 1.25rem;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
}

main ul li {
    margin-top: 1.25rem;
}

main h4 {
    color: #ff2800;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;  
    width: 24%;
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}

li {
    font-family: "Montserrat", sans-serif;
}

.taco-hat {
    margin-top: -5rem;
}
.taco-hat img {
    height: 10rem;
}


/* Styling af begivenhed */ 

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10rem;
}

.events-boks {
    display: flex;
    flex-direction: column;
}
section img {
    height: 15rem;
}

section figure img {
    height: auto;
    width: 100%;
}

.taco-tuesday {
    padding-top: 20rem;
}

.all-you-can-eat {
    padding-top: 20rem;
    padding-bottom: 10rem;
}

section h4 {
    color: #ff2800;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;  
    width: 34%;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: -2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}

.sociale-medier-begivenheder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sociale-medier-begivenheder i {
    font-size: 2rem;
    cursor: pointer;
    background-color: #f1ead1;
    margin: 1rem;
    color: #c91e25;
}

.sociale-medier-begivenheder i:hover {
    transform: scale(1.5);
}

.sociale-medier-h4 {
    margin-top: 20px;
}

img.tequila-knap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s ease;
    width: 25vw;
    margin-top: -8rem;
}

img.tequila-knap:hover {
    transform: scale(1.1)
}

img.taco-knap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s ease;
    width: 25vw;
    margin-top: -8rem;
}

img.taco-knap:hover {
    transform: scale(1.1)
}

img.eat-knap {  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s ease;
    width: 25vw;
    margin-top: -18rem;
    margin-bottom: 20rem;
}

img.eat-knap:hover {
    transform: scale(1.1)
}

/* Styling af Om os */ 

.om-os-billeder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img.om-os-billeder {
    margin-top: 20rem;
    height: 15rem;
}

.personerne {
    padding-top: 5rem;
    width: 100%;
    height: auto;
}

.boks1-container {
    display: flex;
    align-items: flex-start;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 20rem;
    padding-bottom: 5rem;
}

.benjamin-illustration {
    width: 20rem;
    margin-right: 30%;
}

.content-right {
    display: flex;
    flex-direction: column;
}

.boks1 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.boks1 img {
    width: 5rem;
}

.tekst-under {
    margin-top: 10px;
}

.boks1-container h3 {
        color: #ff2800;
        font-weight: bold;
        font-size: 1.5rem;  
        font-family: "Montserrat", sans-serif;
}

.boks1-container p {
        color: #ff2800;
        font-size: 1.2rem;  
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
}

.boks2-container {
    display: flex;
    align-items: flex-start;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.nikolaj-illustration {
    width: 20rem;
}

.content-left {
    display: flex;
    flex-direction: column;
}

.boks2 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.boks2 img {
    width: 5rem;
}

.tekst-under2 {
    margin-top: 10px;
    max-width: 60%;
}

.boks2-container h3 {
        color: #ff2800;
        font-weight: bold;
        font-size: 1.5rem;  
        font-family: "Montserrat", sans-serif;
}

.boks2-container p {
        color: #ff2800;
        font-size: 1.2rem;  
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
}

.boks3-container {
    display: flex;
    align-items: flex-start;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.william-illustration {
    width: 20rem;
    margin-right: 30%;
}

.content-right {
    display: flex;
    flex-direction: column;
}

.boks3 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.boks3 img {
    width: 5rem;
}

.tekst-under2 {
    margin-top: 10px;
}

.boks3-container h3 {
        color: #ff2800;
        font-weight: bold;
        font-size: 1.5rem;  
        font-family: "Montserrat", sans-serif;
}

.boks3-container p {
        color: #ff2800;
        font-size: 1.2rem;  
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
}

/* Styling af Kontakt */
html {
    scroll-behavior: smooth;
}

/* Styling af Forside (index.html) */

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 20rem;
}

img.logo-tekst {
    height: 15rem;
}

img.forside-illustration {
    max-width: 100%;
}

h1 {
    color: #ff2800;
    font-size: 4rem;  
    font-family: "Montserrat", sans-serif;
}

aside p {
    color: #ff2800;
    font-size: 2rem;  
    font-family: "Montserrat", sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 5rem;
    max-width: 50%;
}

.image-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

img.mexi-hat {
    height: 10rem;
    position: absolute;
    margin-left: 70%;
    transform: rotate(10deg);
}

.highlight {
    color: #c91e25;
}

.button.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img.mexi-flaske{
    height: 20rem;
    position: absolute;
    margin-left: -35rem;
    transform: rotate(-30deg);
    margin-top: -5rem;
}


img.menukort-knap {
    height: 10rem;
    transition: 0.3s ease;
}

img.menukort-knap:hover {
transform: scale(1.1)
}

.overskrift-sektion {
    padding-top: 20rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-left: 11%;
}

.overskrift-sektion h3 {
    margin-right: 50px;
}

img.kaktus {
    width: 5rem;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10%;
}

.box {
    background-color: white;
    border: 5px solid #000;
    height: 5rem;
    width: 20rem;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: #ff2800;
    font-size: 1.5rem;  
    font-family: "Montserrat", sans-serif;
}

.forside-main h3 {
    margin: 0;
}

.maps-boks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 10%;
    margin-left: 20rem;
}

.billede-ramme {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .billede {
    padding: 10px;
  }
  
  .billede img {
    width: 100%; /* Gør billederne fylder deres container */
    height: auto; /* Bevar billedernes aspektratio */
    border-radius: 5%;
  }

  .billede-ramme2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 10rem;
  }

  .billede-overskrift {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
    .billede-overskrift h3 {
    color: #ff2800;
    font-size: 4rem;  
    font-family: "Montserrat", sans-serif;
}

    .billede-overskrift h5 {
    color: #c91e25;
    font-size: 2rem;  
    font-family: "Montserrat", sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 2.5rem;
    padding-bottom: 10rem;
    max-width: 50%;
}
  




/* Styling af footer */ 
footer {
    background-color: #c91e25;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

footer h4 {
    font-size: 1.5rem;
    background-color: #c91e25;
}

footer ul {
    font-size: 1.2rem;
    margin-top: 20px;
    background-color: #c91e25;
}

footer ul li {
    margin-top: 10px;
    list-style-type: none;
    background-color: #c91e25;
}

.sociale-medier {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sociale-medier i {
    font-size: 2rem;
    cursor: pointer;
    background-color: #c91e25;
    color: #ffffff;
}

.sociale-medier i:hover {
    transform: scale(1.5);
}

.sociale-medier-h4 {
    margin-top: 20px;
}

.kontakt {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.åbningstider table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}


.åbningstider th {
    text-align: left;
    font-size: 1.5rem;
    background-color: #c91e25;
}

.åbningstider td {
    text-align: right;
    font-size: 1.5rem;
    background-color: #c91e25;
}

table.åbningstider {
    background-color: #c91e25;
    margin-left: 10%;
}

div.kontakt-boks {
    background-color: #c91e25;
    margin-right: 10%;
}

div.find-os-boks {
    background-color: #c91e25;
}


/* Breakpoint for skærmstørrelse. Som har målene 395px til 1024px */ 
/* Dermed gælder disse ændringer kun indenfor målene 395px til 1024px */ 
@media screen and (min-width: 395px) and (max-width: 1024px) {
    /* Styling af navbar */ 

    /* Gør så mine oprindelig navbar punkter forsvinder */
    .navbar-punkter {
        display: none;
    }

    /* Gør min hamburger menu synlig i mindre skærmstørrelse */
    .ham-menu {
        display: block;
    }
    
    /* Får mine andre navbar punkter frem */
    .menu {
        display: block;
    }

    /* Sætter punkterne i min hamburger menu til display flex */
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 100px;
    }

    /* Styling af punkterne i min navbar */
    nav ul li {
        background-color: #f1ead1;
        margin-top: 30px;
        color: #c91e25;
    }

    /* Styling af boksen der kommer ind */ 
    .menu {
        background-color: #c91e25;
        height: 100vh;
        width: 100%;
        max-width: 1024px;
        position: fixed;
        right: -1024px;
        font-size: 3rem;
        transition: .3s ease;
    }
    
    .menu.active {
        right: 0;
    }
    
    /* Styling af stregerne i min hamburger-menu */
    .ham-menu {
        height: 3rem;
        width: 3rem;
        margin-left: 85%;
        position: relative;
        background-color: #c91e25;
        margin-top: -3rem;
    }
    

    .ham-menu span {
        height: 5px;
        width: 100%;
        background-color: #ffffff;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    
    /* Styling af min øverste streg */
    .ham-menu span:nth-child(1) {
        top: 25%;
    }
    /* Styling af nederste streg */
    .ham-menu span:nth-child(3) {
        top: 75%;
    }
    
    /* Sætter effekt på min øverste så den roterer når der bliver klikket på burgermenuen */
    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    /* Fjerner min streg 2 når burgermenuen bliver klikket på */
    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }

    /* Sætter effekt på min øverste så den roterer når der bliver klikket på burgermenuen */
    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    /* Styling af main */ 

    main h4 {
        color: #ff2800;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 1.2rem;  
        width: 85%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2rem;
    }

    /* Styling af begivenheder */ 
    img.tequila-knap {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 0.3s ease;
        width: 30vw;
        margin-top: -1.5rem
    }

    img.taco-knap {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 0.3s ease;
        width: 30vw;
        margin-top: -1.5rem;
    }

    img.eat-knap {  
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 0.3s ease;
        width: 30vw;
        margin-top: -11.5rem;
        margin-bottom: 10rem;
    }


    /* Styling af Om os */
    .boks1-container {
        flex-direction: column;
        align-items: center;
    }

    .benjamin-illustration {
        margin-right: 0;
    }

    .content-right {
        align-items: center;
        text-align: center;
    }

    .boks1-container p {
        width: 100%;
    }

    .boks2-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .nikolaj-illustration {
        margin-right: 0;
    }

    .content-left {
        align-items: center;
        text-align: center;
    }

    .boks2-container p {
        width: 100%;
    }

    .tekst-under2 {
        max-width: 100%;
    }
    .boks3-container {
        flex-direction: column;
        align-items: center;
    }

    .william-illustration {
        margin-right: 0;
    }

    .content-right {
        align-items: center;
        text-align: center;
    }

    .boks3-container p {
        width: 100%;
    }

    /* Styling af Forside */ 


    .container2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
    }

    .row {
        width: 50%;
        padding: 10px;

    }

    .maps-boks {
        max-width: 100%;
        margin: 0;
    }

    /* Styling af footer */ 
    /* Sætter mine footer i flex direction column fremfor row. Så de bliver vidst nedad */
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    footer ul {
        margin-top: 0.8rem;
    }

    footer ul li {
        margin-top: 0.8rem;
    }

    footer h4 {
        margin-top: 5rem;
    }

    .kontakt {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    section img {
        height: 6rem;
    }
}


@media screen and (min-width: 395px) and (max-width: 425px) {


    figure img {
        height: 10rem;
    }

    section img {
        height: 7rem;
    }

    section h4 {
        width: 85%;
        margin-left: 10%;
        margin-right: 10%;
    }

    /* Styling af om os */
    .om-os-overskrift {
        height: 8rem;
    }

    .benjamin-illustration {
        height: 15rem;
        width: auto;
    }

    .nikolaj-illustration {
        height: 15rem;
        width: auto;
    }

    .william-illustration {
        height: 15rem;
        width: auto;
    }

    /* Styling af forside */
    .logo-tekst {
        width: 100%;
    }

    .maps-billede {
        width: 20rem;
        height: 15rem;
        margin-right: 17.5rem;
        padding-top: 5rem;
    }

    aside h1 {
        font-size: 2rem;
    }

    aside p {
        font-size: 1.2rem;
    }

    img.mexi-hat {
        height: 2rem;
    }

    img.mexi-flaske {
        height: 5rem;
        margin-left: -5rem;
        margin-top: -1rem;
    }

    img.menukort-knap {
        height: 5rem;
    }

    .billede-overskrift h3 {
        font-size: 2rem;
    }

    .billede-overskrift h5 {
        font-size: 1.2rem;
    }

    .box {
        width: 150px;
    }
}


