/* Grundregler i min css kode */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1ead1;
    font-family: sans-serif;
}

/* Styling af navbar */
/* Gør så navbaren kommer med ned på siden */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #c91e25;
    height: 7rem;
}

/* Sætter mine nav ul i display flex, samt row */ 
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    padding-right: 5%;
    list-style-type: none;
    background-color: #c91e25;
}

/* Laver mellemrum mellem navpunkterne og sætter en effekt når man har sin mus på en af punkterne */
nav ul li {
    margin: 1.5%;
    margin-top: -2.5rem;
    cursor: pointer;
    background-color: #c91e25;
    transition: 0.3s ease;
}

/* Fjerner streger under mine menupunkter, samt ændre farven på teksten */
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    background-color: #c91e25;
}

/* Når man hover over navpunkterne bliver de større */ 
nav ul li:hover {
    transform: scale(1.2);
}

/* Fjerner streg under mit logo */
nav a {
    text-decoration: none;
}

/* Sætter billedet relativt så jeg kan rykke det på linje med min navbar */
nav a img {
    position: relative;
    top: 20px;
    margin-left: 10%;
    background-color: #c91e25;
    height: 5rem;
}

a.logo {
    background-color: #c91e25;
}

/* Gør så hamburger menuen ikke er synlig */
.ham-menu {
    display: none;
}

/* Gør så mine punkter i hamburgermenuen ikke er synlige */
.menu {
    display: none;
}

#logo {
    transition: transform 0.3s ease-in-out;
}

/* Drejningseffekt ved hover */
#logo.rotate {
    transform: rotate(360deg);
}

/* Menukort styling begynder her */ 
/* Main */

.billede-boks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
}
img.menukort-billeder {
    height: 5rem;
    width: auto;
    margin-top: 4rem;
}

img.menukort-billeder2 {
    height: 8rem;
    width: auto;
    margin-top: 4rem;
}


figure {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10rem;
}

/* Ændre Menukort billede størrelse */ 
figure img {
    height: 15rem;
}

/* Sætter padding-bottom så der kommer mellemrum mellem tingene */ 
main {
    padding-bottom: 15rem;
}

/* Styler mine main h3, samt sætter dem i display flex */ 
main h3 {
    color: #ff2800;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;  
    margin-top: 5rem;  
    font-family: "Montserrat", sans-serif;
}

/* Styler mine main ul, samt sætter dem i display flex */ 
main ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    color: #ff2800;
    margin-top: 1.25rem;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
}

/* Putter margin top så der kommer mellemrum mellem tekst */
main ul li {
    margin-top: 1.25rem;
}


/* Styler mine main h4, samt sætter dem i display flex */ 
main h4 {
    color: #ff2800;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;  
    width: 24%;
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}

li {
    font-family: "Montserrat", sans-serif;
}

/* Putter margin-top så den kommer tættere på teksten ovenover */
.taco-hat {
    margin-top: -5rem;
}

/* Ændre størrelsen på taco hatten */
.taco-hat img {
    height: 10rem;
}


/* Styling af begivenhed */ 

/* Sætter min section i display flex */ 
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10rem;
}

/* sætter evenboks i flex */
.events-boks {
    display: flex;
    flex-direction: column;
}

/* Æmndre section img's størrelse */
section img {
    height: 15rem;
}

/* Sætter bredden til at være 100% så den fylder helt ud til siden */
section figure img {
    height: auto;
    width: 100%;
}

/* Sætter padding top, så der kommer afstand mellem elementerne */ 
.taco-tuesday {
    padding-top: 20rem;
}

/* Samme som over */
.all-you-can-eat {
    padding-top: 20rem;
    padding-bottom: 10rem;
}

/* Styler mine section h4, samt sætter dem i display flex */ 
section h4 {
    color: #ff2800;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;  
    width: 34%;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: -2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}

/* Styler mine sociale medier ikoner, så de kommer i flex row direction */ 
.sociale-medier-begivenheder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

/* Styler ikonerne, samt giver effekt når man holder over dem */
.sociale-medier-begivenheder i {
    font-size: 2rem;
    cursor: pointer;
    background-color: #f1ead1;
    margin: 1rem;
    color: #c91e25;
    transition: 0.3s ease;
}

/* Gør så de bliver større når man holder over ikonerne */
.sociale-medier-begivenheder i:hover {
    transform: scale(1.5);
}

/* Sætter margin-top så de får lidt afstand til teksten over */
.sociale-medier-h4 {
    margin-top: 20px;
}

/* Sætter knappen i flexbox, samt tilføjer effekt når man holder over dem */
img.tequila-knap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s ease;
    width: 25vw;
    margin-top: -8rem;
}

/* Gør så knappen bliver større når man holder over den */
img.tequila-knap:hover {
    transform: scale(1.1)
}

/* Samme som første knap */
img.taco-knap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s ease;
    width: 25vw;
    margin-top: -8rem;
}

/* Samme som første knap */
img.taco-knap:hover {
    transform: scale(1.1)
}

/* Samme som første knap */
img.eat-knap {  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s ease;
    width: 25vw;
    margin-top: -18rem;
    margin-bottom: 20rem;
}

/* Samme som første knap */
img.eat-knap:hover {
    transform: scale(1.1)
}

/* Styling af Om os */ 
/* Sætter om os billederne i flexbox */
.om-os-billeder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -3rem;
}

/* Ændre størrelsen på billerne, samt sætter giver dem padding top, så de får mere afstand til elementerne over dem */
.om-os-overskrift {
    width: 100%;
    height: auto;
}

/* Gør så billedet af personerne strækker sig til hele 100% af bredden. Samt giver padding top */
.personerne {
    width: 100%;
    height: auto;
    margin-top: 5rem;
    padding-bottom: 2rem;
}

article h5 {
    color: #ff2800;
    font-size: 1.5rem;  
    font-family: "Montserrat", sans-serif;
    padding: 1rem;
    max-width: 60%;
}

.mød-amigos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
    color: #ff2800;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
}

/* Sætter i flexbox, samt ændre margin og padding */
.boks1-container {
    display: flex;
    align-items: flex-start;
    margin-left: 20%;
    margin-right: 10%;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

/* Ændre størrelsen på illustrationen af manden */
.benjamin-illustration {
    width: 20rem;
    margin-right: 30%;
}

/* Sætter teksten og det til højre i flexbox */
.content-right {
    display: flex;
    flex-direction: column;
}

/* Sætter boks1 i flexbox */
.boks1 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Ændre størrelsen på det lille billede */
.boks1 img {
    width: 5rem;
}

/* Sætter afstand mellem teksten under og det over */
.tekst-under {
    margin-top: 10px;
    max-width: 100%;
}

/* styling af boks1-container h3 */
.boks1-container h3 {
        color: #ff2800;
        font-weight: bold;
        font-size: 1.5rem;  
        font-family: "Montserrat", sans-serif;
}

/* Styling af boks1-container p */
.boks1-container p {
        color: #ff2800;
        font-size: 1.2rem;  
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
}

/* Samme som hele boksen ovenover */ 
.boks2-container {
    display: flex;
    align-items: flex-start;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.nikolaj-illustration {
    width: 20rem;
}

.content-left {
    display: flex;
    flex-direction: column;
}

.boks2 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.boks2 img {
    width: 5rem;
}

.tekst-under2 {
    margin-top: 10px;
    max-width: 80%;
}

.boks2-container h3 {
        color: #ff2800;
        font-weight: bold;
        font-size: 1.5rem;  
        font-family: "Montserrat", sans-serif;
}

.boks2-container p {
        color: #ff2800;
        font-size: 1.2rem;  
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
}

/* Boks 3 begynder her */ 
.boks3-container {
    display: flex;
    align-items: flex-start;
    margin-left: 20%;
    margin-right: 10%;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.william-illustration {
    width: 20rem;
    margin-right: 30%;
}

.content-right {
    display: flex;
    flex-direction: column;
}

.boks3 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.boks3 img {
    width: 5rem;
}

.tekst-under3 {
    margin-top: 10px;
}

.boks3-container h3 {
        color: #ff2800;
        font-weight: bold;
        font-size: 1.5rem;  
        font-family: "Montserrat", sans-serif;
}

.boks3-container p {
        color: #ff2800;
        font-size: 1.2rem;  
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
}

/* Styling af Kontakt */
/* Gør så scrool-effekten når man klikker på Kontakt er smooth */ 
html {
    scroll-behavior: smooth;
}

/* Styling af Forside (index.html) */
/* Sætter aside i flexbox, samt giver padding top og bottom */
aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

/* Ændre størrelsen på logo-tekst */
img.logo-tekst {
    height: 15rem;
}

/* Gør så illustrationen på forsiden dækker hele skærmen i bredden */
img.forside-illustration {
    max-width: 70%;
    padding: 0;
}

/* Styling af min h1 */
h1 {
    color: #ff2800;
    font-size: 4rem;  
    font-family: "Montserrat", sans-serif;
    padding-top: 5rem;
}

/* Styling af min aside p */
aside p {
    color: #ff2800;
    font-size: 1.5rem;  
    font-family: "Montserrat", sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 5rem;
    max-width: 50%;
}

/* Sætter min image-text-container i flexbox */
.image-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Styling af mexi-hatten, samt sætter den til absolute så jeg kan rykke med den over de andre elementer uden det påvirker dem */
img.mexi-hat {
    height: 15%;
    position: absolute;
    margin-left: 70%;
    transform: rotate(10deg);
}

/* Ændre farven */
.highlight {
    color: #c91e25;
}

/* Sætter min button.container i flexbox */
.button.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Samme som mexi-hatten ovenover lidt oppe */
img.mexi-flaske{
    height: 30%;
    position: absolute;
    margin-left: -25rem;
    transform: rotate(-30deg);
    margin-top: -5rem;
}

/* Styling af knappen, samt sætter effekt når man holder over den */
img.menukort-knap {
    height: 4rem;
    margin-top: 100px;
    transition: 0.3s ease;
}

/* Gør knappen større ved hover */
img.menukort-knap:hover {
transform: scale(1.1)
}

/* Sætter overskrift-sektion i flexbox */
.overskrift-sektion {
    padding-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-left: 11%;
    padding-top: 15rem;
}

/* Sætter margin-right så den ryger længere ud til højre på siden */
.overskrift-sektion h3 {
    margin-right: 50px;
}

/* Ændre størrelsen på kaktussen */
img.kaktus {
    width: 5rem;
}

/* Sætter container2 i flexbox */ 
.container2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10%;
}

/* Styling af boksene under åbningstider, samt sætter dem i flexbox */
.box {
    background-color: white;
    border: 5px solid #000;
    height: 5rem;
    width: 15rem;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: #ff2800;
    font-size: 1.2rem;  
    font-family: "Montserrat", sans-serif;
}

/* Fjerner margin fra forside-main h3 */
.forside-main h3 {
    margin: 0;
}

/* Sætter maps-boks i flexbox */
.maps-boks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 10%;
    margin-left: 20rem;
    max-width: 100%;
}

/* Sætter billedsektionen i display grid så den viser 3 billeder og gør det 1 gang. Sætter margin left og right 10% så de ikke går helt ud til kanten */
.billede-ramme {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10%;
    margin-right: 10%;
  }
  
  /* Laver mellemrum mellem billederne */ 
  .billede {
    padding: 10px;
  }
  
  /* Gør så billederne fylder deres container helt ud, samt gør så de får lidt runde kanter */
  .billede img {
    width: 100%;
    height: auto;
    border-radius: 5%;
  }

/* Samme som over */
  .billede-ramme2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 10rem;
    margin-left: 10%;
    margin-right: 10%;
  }

  /* Styler teksten over billederne, samt sætter det i flexbox */
  .billede-overskrift {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Styler billeder-overskrift h3 */
    .billede-overskrift h3 {
    color: #ff2800;
    font-size: 4rem;  
    font-family: "Montserrat", sans-serif;
}

/* Styler billede-overskrift h5 */ 
    .billede-overskrift h5 {
    color: #c91e25;
    font-size: 2rem;  
    font-family: "Montserrat", sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 2.5rem;
    padding-bottom: 10rem;
    max-width: 50%;
}

/* Styling af reservér bord siden */
/* Sætter siden i flexbox */

.reserver-boks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.error {
    display: flex;
    flex-direction: column;
}

/* Gør så billedet fylder 100% af bredden */
.error404 {
    width: 80%;
    height: auto;
    padding: 10rem;
}

/* Samme som over + jeg tilføjer en effekt når man holder over knappen */
.error404-knap {
    width: 60%;
    height: auto;
    transition: 0.3s ease;
}

/* Gør så knappen bliver større ved hover */
.error404-knap:hover {
    transform: scale(1.1);
}

.error404-tekst {
    width: 40%;
    height: auto;
}

/* Styling af footer */ 
/* Styling af footer, og sætter footer i flexbox */
footer {
    background-color: #c91e25;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

/* Styling af footer h4 */
footer h4 {
    font-size: 1.5rem;
    background-color: #c91e25;
}

/* Styling af footer ul */
footer ul {
    font-size: 1.2rem;
    margin-top: 20px;
    background-color: #c91e25;
}

/* Styling af footer ul li */
footer ul li {
    margin-top: 10px;
    list-style-type: none;
    background-color: #c91e25;
}

/* Sætter sociale-medier ikoner i flex direction row, da de skal være vandrette og ikke lodrette som det andet */
.sociale-medier {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Styler sociale medie ikonerne */
.sociale-medier i {
    font-size: 2rem;
    cursor: pointer;
    background-color: #c91e25;
    color: #ffffff;
    transition: 0.3s ease;
}

/* Sætter hover effekt på */ 
.sociale-medier i:hover {
    transform: scale(1.5);
}

/* Sætter margin top så de får afstand til teksten over */ 
.sociale-medier-h4 {
    margin-top: 20px;
}

/* Sætter kontakt i flexbox */ 
.kontakt {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* Sætter åbningstider table i flexbox */
.åbningstider table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

/* Styler teksten til venstre */
.åbningstider th {
    text-align: left;
    font-size: 1.5rem;
    background-color: #c91e25;
    font-weight: 100;
}

/* Styler teksten til højre */
.åbningstider td {
    text-align: right;
    font-size: 1.5rem;
    background-color: #c91e25;
}

/* Sætter margin left så den ikke går helt ud til kanten til venstre */ 
table.åbningstider {
    background-color: #c91e25;
    margin-left: 10%;
}

/* Samme som over. bare modsat */
div.kontakt-boks {
    background-color: #c91e25;
    margin-right: 10%;
}

div.find-os-boks {
    background-color: #c91e25;
}

.åbningstider .overskrift {
    font-weight: bold;
}


/* Breakpoint for skærmstørrelse. Som har målene 395px til 1024px */ 
/* Dermed gælder disse ændringer kun indenfor målene 395px til 1024px */ 
@media screen and (min-width: 395px) and (max-width: 1024px) {
    /* Styling af navbar */ 
    /* Gør så mine oprindelig navbar punkter forsvinder */
    .navbar-punkter {
        display: none;
    }

    /* Gør min hamburger menu synlig i mindre skærmstørrelse */
    .ham-menu {
        display: block;
    }
    
    /* Får mine andre navbar punkter frem */
    .menu {
        display: block;
    }

    /* Sætter punkterne i min hamburger menu til display flex */
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 100px;
    }

    /* Styling af punkterne i min navbar */
    nav ul li {
        background-color: #f1ead1;
        margin-top: 30px;
        color: #c91e25;
    }

    /* Styling af boksen der kommer ind */ 
    .menu {
        background-color: #c91e25;
        height: 100vh;
        width: 100%;
        max-width: 1024px;
        position: fixed;
        right: -1024px;
        font-size: 3rem;
        transition: .3s ease;
    }
    
    .menu.active {
        right: 0;
    }
    
    /* Styling af stregerne i min hamburger-menu */
    .ham-menu {
        height: 3rem;
        width: 3rem;
        margin-left: 85%;
        position: relative;
        background-color: #c91e25;
        margin-top: -3rem;
    }
    
    /* Styling af min burgermenu, samt sætter effekt når man trykker på den */
    .ham-menu span {
        height: 5px;
        width: 100%;
        background-color: #ffffff;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    
    /* Styling af min øverste streg */
    .ham-menu span:nth-child(1) {
        top: 25%;
    }
    /* Styling af nederste streg */
    .ham-menu span:nth-child(3) {
        top: 75%;
    }
    
    /* Sætter effekt på min øverste så den roterer når der bliver klikket på burgermenuen */
    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    /* Fjerner min streg 2 når burgermenuen bliver klikket på */
    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }

    /* Sætter effekt på min øverste så den roterer når der bliver klikket på burgermenuen */
    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    /* Styling af main */ 
    /* Styling af min main h4 */
    main h4 {
        color: #ff2800;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 1.2rem;  
        width: 85%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2rem;
    }

    /* Styling af begivenheder */ 
    /* Styling af tequila knappen */
    img.tequila-knap {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 0.3s ease;
        width: 30vw;
        margin-top: -1.5rem
    }

    /* Styling af Taco knappen */
    img.taco-knap {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 0.3s ease;
        width: 30vw;
        margin-top: -1.5rem;
    }

    /* Styling af all you can eat knap */
    img.eat-knap {  
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 0.3s ease;
        width: 30vw;
        margin-top: -11.5rem;
        margin-bottom: 10rem;
    }


    /* Styling af Om os */
    /* Sætter boks1-container i flex direction column fremfor row, så det ser bedre ud på mindre skærme */


    .boks1-container {
        flex-direction: column;
        align-items: center;
    }
    
    /* Fjerner margin fra billedet */
    .benjamin-illustration {
        margin-right: 0;
    }

    /* Centrer indholdet der stod ude til højre */
    .content-right {
        align-items: center;
        text-align: center;
    }

    .boks1-container p {
        width: 100%;
    }

    /* Samme som over, men her column-reverse */
    .boks2-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    /* Samme som over */
    .nikolaj-illustration {
        margin-right: 0;
    }

    .content-left {
        align-items: center;
        text-align: center;
    }

    .boks2-container p {
        width: 100%;
    }

    .tekst-under2 {
        max-width: 100%;
    }
    .boks3-container {
        flex-direction: column;
        align-items: center;
    }

    .william-illustration {
        margin-right: 0;
    }

    .content-right {
        align-items: center;
        text-align: center;
    }

    .boks3-container p {
        width: 100%;
    }

    /* Styling af Forside */ 
    /* Sætter i flex wrap */
    .container2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
    }

    /* Sætter width til 50%, så min google maps-boks ryger under */
    .row {
        width: 50%;
        padding: 10px;

    }

    /* Sætter maks-widt til 100% så den fylder hele bredden */
    .maps-boks {
        max-width: 100%;
        margin: 0;
    }

    img.mexi-flaske {
        height: 10rem;
        margin-left: -12.5rem;
        margin-top: -1rem;
    }

    /* Styling af footer */ 
    /* Sætter mine footer i flex direction column fremfor row. Så de bliver vidst nedad */
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    /* Søtter margin top på de næste 3 elemeneter så der kommer mellemrum mellem dem */
    footer ul {
        margin-top: 0.8rem;
    }

    footer ul li {
        margin-top: 0.8rem;
    }

    footer h4 {
        margin-top: 5rem;
    }

    /* Sætter kontakt elementerne til at være i midten */
    .kontakt {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    /* Ændre størrelsen på section img mellem disse skærmstørrelse */
    section img {
        height: 6rem;
    }
}

@media screen and (min-width: 395px) and (max-width: 425px) {
    /* Ændre figure img størrelse */
    figure img {
        height: 10rem;
    }

    /* Ændre section img størrelse */
    section img {
        height: 7rem;
    }

    /* Ændre section h4, så den har margin left og right 10% */
    section h4 {
        width: 85%;
        margin-left: 10%;
        margin-right: 10%;
    }

    /* Styling af om os */
    /* Styling af om-os-overskrift størrelse */
    .nye-amigos{
        height: 8rem;
        margin: 0;
    }

    article h5 {
        color: #ff2800;
            font-size: 1rem;  
            font-family: "Montserrat", sans-serif;
            padding: 1rem;
            max-width: 80%;
    }

    .boks1-container {
        padding-top: 10rem;
    }

    /* Ændre størrelsen på billedet */
    .benjamin-illustration {
        height: 15rem;
        width: auto;
    }

    /* Samme som over */
    .nikolaj-illustration {
        height: 15rem;
        width: auto;
    }

    /* Samme som over */
    .william-illustration {
        height: 15rem;
        width: auto;
    }

    /* Styling af forside */
    /* Ændre logo-tekst så det kun fylder 80% af bredden */
    img.logo-tekst {
        width: 80%;
        height: auto;
    }

    /* ændre maps-billedet */
    .maps-billede {
        width: 20rem;
        height: 15rem;
        margin-right: 17.5rem;
        padding-top: 5rem;
    }

    /* Ændre aside h1 størrelse */
    aside h1 {
        font-size: 2rem;
    }

    /* Ændre aside p størrelse */
    aside p {
        font-size: 1.2rem;
    }

    /* Ændre mexi-hat størrelse */
    img.mexi-hat {
        height: 2rem;
    }

    /* Ændre mexi-flaske størrelse */
    img.mexi-flaske {
        height: 5rem;
        margin-left: -5rem;
        margin-top: -1rem;
    }

    /* Ændre menukort-knap størrelse */
    img.menukort-knap {
        height: 3rem;
    }

    /* Ændre størrelsen på h3 */
    .billede-overskrift h3 {
        font-size: 2rem;
    }

    /* Ændre størrelsen på h5 */
    .billede-overskrift h5 {
        font-size: 1.2rem;
    }

    /* Sætter boksen til at have en width på 150px */
    .box {
        width: 150px;
    }

    /* Sætter billede-ramme i flex direction column, så billederne bliver vidst 1 efter 1 nedaf */
    .billede-ramme {
        display: flex;
        flex-direction: column;
    }

    /* Sætter billede-ramme i flex direction column */
    .billede-ramme2 {
        display: flex;
        flex-direction: column;
    }
}


